/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --primary-color: rgb(255, 35, 101);
  --primary-color-hover: rgb(202, 27, 79);

  --font: 'Varela Round', sans-serif;
  --font-color: rgb(60, 60, 60);
  --color-gray-light: rgb(175, 175, 175);

  --radius: 8px;
  --shadow: 0px 0px 5px 0px rgba(10, 10, 10, 0.75);
  --transition: 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  font-size: 14px;
  font-family: var(--font);
  color: #fff;
}

button {
  outline: none;
  border: 1px solid transparent;
  transition: var(--transition);
  cursor: pointer;
}

ul, li {list-style: none;}

a {
  text-decoration: none;
  transition: var(--transition);
}

input {
  outline: none;
  border: 1px solid transparent;
  transition: var(--transition);
}

img {object-fit: cover;}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.container h2 {font-size: 30px;}